#main {
  margin: 0 auto;
  height: auto;
  width: 100%;
}

#wrapper {
  float: left;
  height: auto;
  width: 100%;
  border: 1px solid #000;

}

.topnav {
  display: flex;
  overflow: hidden;
  background-color: #4f4f52;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a.active {
  background-color: #151616;
  color: white;
}

.topnav a .active:hover {
  background-color: rgb(87, 69, 69);
}

.topnav .search-container {
  width: 1000px;
  margin-left: 100px;
}

.topnav .search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Full-width input fields */
.topnav .userBtn {
  margin-left: 100px;
  width: 300px;
  display: flex;
}

/*.topnav .userBtn .logBtn{
    background-color: rgb(48, 45, 45);
    color: #fff; 
    height: 50px;
    width: 50px
}*/



#title {
  color: #FFF;
  text-align: center;
  font-size: 60px;
  text-shadow: 4px 4px 2px #000000;

}

#menu {
  float: left;
  height: 50px;
  width: 100%;
  border: 1px solid #000;
  background: #096;
}

.card {
  margin-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100x;
  max-height: 800px;
  padding: 50px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.middle {

  height: 800px;
  width: 100%;
  background-color: #999;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.container-5 {
  padding: 60px;
  display: flex;
  justify-content: center;
  height: 500px;
  margin-bottom: 10px;
  background-color: #F00;
}

.container-5 div .box-51 {
  background-color: #0FC;
  border: 1px solid #ccc;
  padding: 10px;
  height: 100px;
}

.fine {
  height: 100px;
  width: 100%;
  alignment-adjust: middle;
  background-color: #FC9;
}



.box-51:hover,
.box-52:hover {
  display: block;
  background: #FFF;
  color: #06F;
}