body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

.topnav {
  display: flex;
  overflow: hidden;
  background-color: #4f4f52;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a.active {
  background-color: #151616;
  color: white;
}

.topnav a .active:hover {
  background-color: rgb(87, 69, 69);
}

.topnav .search-container {
  width: 1000px;
  margin-left: 100px;
}
.topnav .search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
/* Full-width input fields */
.topnav .userBtn {
  margin-left: 100px;
  width: 300px;
  display: flex;
}

/*.topnav .userBtn .logBtn{
    background-color: rgb(48, 45, 45);
    color: #fff; 
    height: 50px;
    width: 50px
}*/




/*----------------------------Top Questions------------------------------*/

.topQuestions {
  width:100%;
  height: 800pxpx;
  background-color: white;
  opacity: 0.9;
}

.topQuestions .showQstn {
  width:75%;
  margin: 0 auto;
  height: 800px;
  background-color: white;
}

.topQuestions .showQstn .showHead {
  width:100%;
  height: 100px;
  padding-left: 25px;
  padding-top: 15px;
  display: flex ;
}

.topQuestions .showQstn .showHead .qstnArea{
  background-color: wheat;
  margin-left: 800px;
  /*margin-top: 10px;*/
  height: 50px;
  width: 150px;
}

.topQuestions .showQstn .Section {
  width:100%;
  height: 160px;
  display: flex;
}

.topQuestions .showQstn .Section .votes {
  width:10%;
  height: 150px;
  background-color: wheat;
  text-align: center;
  padding: 10px;
  font-size: large;
  font-style: bold;
}

.topQuestions .showQstn .Section .qstnAns {
  width: 90%;
  height: 150px;
  padding-left: 15px;
  padding-top: 15px;
  background-color: whitesmoke;
}

.topQuestions .showQstn .Section .qstnAns a {
  text-decoration: none;
  color: rgb(55, 55, 224);
}
/*------------------------------------------------------------------------*/


.topQuestions .showQstn {
  width:75%;
  margin: 0 auto;
  height: 800px;
  background-color: white;
}

.topQuestions .showQstn .showHead {
  width:75%;
  height: 80px;
  padding-left: 15px;
  display: flex ;
}

.topQuestions .showQstn .showHead .qstnArea{
  background-color: wheat;
  margin-left: 600px;
  margin-top: 10px;
  height: 50px;
  width: 150px;
}
/*------------------------------------------------------------------------*/


.topQuestions .showQstn {
  width:75%;
  margin: 0 auto;
  height: 800px;
  background-color: white;
}

.topQuestions .showQstn .showHead {
  width:75%;
  height: 80px;
  padding-left: 15px;
  display: flex ;
}

.topQuestions .showQstn .showHead .qstnArea{
  background-color: wheat;
  margin-left: 600px;
  margin-top: 10px;
  height: 50px;
  width: 150px;
}
/*------------------------------------------------------------------------*/


.qstnArea button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.qstnArea .qstnBtn {
  background-color: blue;
  color: white;
  width: 150px;
  height: 50px;
  align-items: center;
}

.qstnArea .modal input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.qstnArea .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

.qstnArea textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.qstnArea .modal .cancelbtn {
  padding: 14px 20px;
  background-color: rgb(53, 51, 51);
}

.qstnArea .modal .cancelbtn,
.qstnArea .modal .submitBtn {
  float: left;
  width: 50%;
}

.qstnArea .modal .container {
  padding: 16px;
}

/* Modal Content/Box */
.qstnArea .modal .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
.qstnArea .modal hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.qstnArea .modal .close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.qstnArea .modal.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.qstnArea .clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.footer {
  /*position: fixed;*/
  width: 100%;
  height: 200px;
  background-color: rgb(14, 14, 31);
  color: white;
  text-align: center;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .topnav .modal .cancelbtn,
  .topnav .modal .signupbtn {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a,
  .topnav .search-container input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav .search-container input[type="text"] {
    border: 1px solid #ccc;
  }
}
