body {
    font-family: Arial, Helvetica, sans-serif;
  }
  * {
    box-sizing: border-box;
  }

  .header {
      width: 100%;
      height: 50px;
      background-color: black;
  }

  .Section {
    width:100%;
    height: 160px;
    display: flex;
  }
  
  .Section .votes {
    width:10%;
    height: 150px;
    background-color: wheat;
    text-align: center;
    padding-top: 40px;
    font-size: large;
    font-style: bold;
  }
  
  .Section .qstnAns {
    width: 90%;
    height: 150px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: white;
  }
  
  .Section .qstnAns a {
    text-decoration: none;
    color: rgb(55, 55, 224);
  }

  .qstnDetail {
      width: 100%;
      height: auto;
  }

  .askedBy {
      width: 100%;
      height: 50px;
      background-color: rgb(138, 138, 180);
  }

  .answer{
      width: 100%;
      height: 50px;
      border: 1px solid;
      border-left: none;
      border-right: none;
      background-color: lightgrey;
  }

  .ansArea{
      display: flex;
  }
  .ansArea .votes {
    width:10%;
    height: auto;
    background-color: gainsboro;
    text-align: center;
    padding-top: 40px;
    font-size: large;
    font-style: bold;
  }
  .ansArea .showAns {
    width: 90%;
    height: auto;
    padding-left: 15px;
    padding-top: 15px;
    background-color: white;
  }
  .answeredBy{
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
  }

  .fillAns{
      width: 100%;
      padding:10px;
      height: auto;
      border: 1px solid;
  }

  .fillAns .yrAns{
      width: 100%;
      height: 50px;
      background-color: rgb(243, 229, 229);
      border: 1px solid;
      border-left: none;
      border-right: none;
      border-color: rgb(187, 183, 183);
  }

  .fillAns textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  .fillAns .postAns{
    width: 120px;
    height: 45px;
    background-color: rgb(56, 56, 204);
    padding: auto;
    border: none;
  }
  
  .Section .votes .IncDec  {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .Section .votes .IncDec .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .Section .votes .IncDec .value-button:hover {
    cursor: pointer;
  }
  
  .Section .votes .IncDec #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  .Section .votes .IncDec #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  .Section .votes .IncDec #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  .Section .votes .IncDec input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  .Section .votes .IncDec input[type=number]::-webkit-inner-spin-button,
  .Section .votes .IncDec input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }