<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StackOverFlowClone</title>
    <link href="./static/StyleRegistration.css" rel="stylesheet" />
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="home">Home</a>
      <a href="/About">About</a>

      <div class="search-container">
        <form action="/search" method="POST">
          <input type="text" placeholder="Search.." name="search" />
          <button type="submit">Submit</button>
        </form>
      </div>

      <div class="userBtn">
        <a href="/login">Log In</a>
        <a href="/signUp">Sign Up</a>
      </div>

    </div>
        

    <div class="qstnArea">
      <button
        class="qstnBtn"
        onclick="document.getElementById('id03').style.display='block'"
      >
        Ask
      </button>

      <div id="id03" class="modal">
        <span
          onclick="document.getElementById('id03').style.display='none'"
          class="close"
          title="Close Modal"
          >&times;</span
        >
        <form class="modal-content" action="/postQuestion" method="POST">
          <div class="container">
            <h1>Upload Question</h1>
            <hr />
            <p>Subject <input type="text" name="T1" /></p>
            <p>Question <textarea name="T2" rows="5" cols="60"></textarea></p>
            <br />
            <div class="clearfix">
              <button
                type="button"
                onclick="document.getElementById('id03').style.display='none'"
                class="cancelbtn"
              >
                Cancel
              </button>
              <button type="submit" class="submitBtn">Upload</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="footer">
      Footer
    </div>
    <script>

      var modal3 = document.getElementById("id03");

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal3) {
          modal3.style.display = "none";
        }
      };
    </script>
  </body>
</html>
