<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Untitled Document</title>
  <link href="/static/profile.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.css" />
  <script type="text/javascript" src="/static/bootstrap.js"></script>

  <script type="text/javascript" src="/static/jquery.js"></script>
  <script>
    $(document).ready(function (e) {
      $("#b1").click(function (e) {
        $(".dropdown-menu").toggle();
      });
    });
  </script>
</head>

<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Profile</a>
      </div>
      <ul>


        <div class="dropdown">
          <button class="dropdown-toggle btn btn-primary" id="b1">Menu</button>
          <div class="dropdown-menu">
            <a href="/userMain" class="dropdown-item">Home</a>
            <a href="/About" class="dropdown-item">About</a>
            <a href="/profile" class="dropdown-item">Profile</a>
            <a href="/user" class="dropdown-item">Users</a>
            <a href="#" class="dropdown-item">Login</a>
            <a href="#" class="dropdown-item">Signup</a>
          </div>
        </div>
      </ul>
    </div>
  </nav>
  <div class="middle">
    <h2 style="text-align:center">User Profile Card</h2>

    <div class="card">
      <img src="/static/photo1.png" style="width:100px">
      <h1>NeelVarsAmruArch</h1>
      <p class="title">email@gmail.com</p>
      <p class="title">Kota,Rajasthan</p>
      <p></p>
      <div style="margin: 24px 0;" class="fine">

        <a href="#"> Question Ask-0</i></a> <br>
        <a href="#">Question Solve-0</i></a> <br>
        <a href="#">Reputation 0</i></a> <br>
        <a href="#"></i></a>

      </div>

      <p><button>Profile</button></p>

    </div>

  </div>


</body>

</html>